@namespace RPedretti.RazorComponents.Sample.Shared.Pages.Forecast
@using RPedretti.RazorComponents.Shared.Components;
@using System.Linq
@using RPedretti.RazorComponents.Input.ToggleSwitch
@using RPedretti.RazorComponents.Input.Spinner
@using RPedretti.RazorComponents.Layout.DynamicTable
@using RPedretti.RazorComponents.Sample.Shared.Data

@page "/forecast"
@inherits BaseComponent

<h1>Weather forecast</h1>
<ToggleSwitch Round
              Label="Grouped"
              @bind-Checked="@Grouped" />

@foreach (var header in _headers)
{
    var h = header;
    <button type="button" class="btn" @onclick="@(() => ToggleColumn(h))">@(h.Hidden ? "Show" : "Hide") @(h.Title)</button>
}

@{

    _dateTemplate = (w) => @<span>@w.Date.ToString("dd/MM HH:00")</span>;
    _tempTemplate = (w) => @<span>@w.Temperature</span>;
    _rainChanceTemplate = (w) => @<span>@w.RainChangePercent</span>;
    _rainAmmountTemplate = (w) => @<span>@w.RainAmmount</span>;
    _groupHeaderTemplate = (g) => @<span class="@g.Classes">@g.Rows.Average(f => f.Context.Temperature)</span>;

    _headers = new List<DynamicTableHeader>()
    {
        new DynamicTableHeader{ Title =  "Date", Classes = "-l"},
        new DynamicTableHeader{ Title =  "Temp. (C)", CanSort = true, Classes = "-l", SortId = "1" },
        new DynamicTableHeader{ Title =  "Rain chance (%)", CanSort = true, Classes = "-r", SortId = "2" },
        new DynamicTableHeader{ Title =  "Rain Ammount (mm)", CanSort = true, Classes = "-r", SortId = "3" }
    };

    _columns = new List<DynamicTableColumn<WeatherForecast>>
    {
        new DynamicTableColumn<WeatherForecast> { SortProp = nameof(WeatherForecast.Date), Classes = "-l", Template = _dateTemplate },
        new DynamicTableColumn<WeatherForecast> { SortProp = nameof(WeatherForecast.Temperature), Classes = "-l", Template = _tempTemplate },
        new DynamicTableColumn<WeatherForecast> { SortProp = nameof(WeatherForecast.RainChangePercent), Classes = "-r", Template = _rainChanceTemplate },
        new DynamicTableColumn<WeatherForecast> { SortProp = nameof(WeatherForecast.RainAmmount), Classes = "-r", Template = _rainAmmountTemplate }
    };
}

@if (Grouped)
{
    <DynamicGroupedTable Headers="@_headers"
                         TItem="WeatherForecast"
                         Groups="@_groupedForecast"
                         GroupHeaderTemplate="_groupHeaderTemplate"
                         Columns="@_columns"
                         Loading="@Loading">
        <LoadingTemplate>
            <Spinner Centered Active Size="SpinnerSize.MEDIUM" />
        </LoadingTemplate>
    </DynamicGroupedTable>
}
else
{
    <DynamicTable Classes="table-bordered"
                  Headers="@_headers"
                  TItem="WeatherForecast"
                  Rows="@_forecasts"
                  Columns="@_columns"
                  Loading="@Loading"
                  SortRequest="@Sort"
                  OnRowClick="@RowClicked">
        <LoadingTemplate>
            <Spinner Centered Active Size="SpinnerSize.MEDIUM" />
        </LoadingTemplate>
    </DynamicTable>
}