@using RPedretti.RazorComponents.Shared.Components;
@inherits BaseAccessibleComponent

<div class="@($"radio-group -{Orientation.ToString().ToLower()}")" role="radiogroup">
    @foreach (var button in Buttons)
    {
        var b = button;
        <div class="@($"btn radio-button{(b == Selected ? " -checked" : null)}{(b.Disabled ? " -disabled" : null)}")"
             role="radio"
             aria-checked="@((b == Selected).ToString().ToLower())"
             aria-disabled="@(b.Disabled.ToString().ToLower())"
             tabindex="@(!b.Disabled ? "0" : null)"
             @onkeydown="@(k => KeyDown(k, b))"
             @onclick="@(() => Click(b))">
            @b.Label
        </div>
    }
</div>