@using RPedretti.RazorComponents.Shared.Components
@using RPedretti.RazorComponents.Layout.Pager
@typeparam TItem
@inherits BaseAccessibleComponent

<div class="paged-grid">
    @if (HasContent)
    {
        <Pager MaxIndicators="@MaxIndicators"
               Position="@PagerPosition"
               OnRequestPage="@OnRequestPage"
               CurrentPage="@CurrentPage"
               PageCount="@PageCount"
               Small="@SmallPager"></Pager>
    }
    @if (HasContent && !Loading)
    {
        <ol tabindex="0" aria-label="@A11yLabel" aria-required="false" class="content @ListClasses">
            @for (var i = 0; i < Items.Count(); i++)
            {
                var item = Items.ElementAtOrDefault(i);
                <li class="@ItemClasses">
                    @ItemTemplate(new PagedGridContext { Index = i, Item = item })
                </li>
            }
        </ol>
    }
    else if (Loading)
    {
        @LoadingTemplate
    }
    else if (!HasContent)
    {
        <p>@NoContentTemplate</p>
    }
</div>