@inherits LayoutComponentBase
@using RPedretti.RazorComponents.Sensors.AmbientLight
@using RPedretti.RazorComponents.Input.ToggleSwitch
@using RPedretti.RazorComponents.Layout.Modal

<LightSensor PollTime="0.5" OnError="@OnError" OnValue="@OnReading" />
<div class="sidebar @(Checked ? "dark" : "light")">
    <NavMenu />
</div>

<div class="main @(Checked ? "dark" : "light")" style="overflow: @((_modalService.IsOpen) ? "none" : "auto")">
    <div class="top-row px-4">
        <ToggleSwitch @bind-Checked="@Checked" />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<Modal />
