@typeparam TItem
@using RPedretti.RazorComponents.Input.Spinner
@inherits SuggestBoxBaseJSInterop

<div data-widget="acessible-suggest" class="@($"suggest-box{(!LoadingSuggestion && OpenSuggestion ? " -open" : null)}")">
    <div class="sb-input">
        <input type="text"
               @ref="input"
               id="@SuggestBoxId"
               autocomplete="off"
               class="form-control"
               aria-describedby="desc"
               aria-autocomplete="both"
               aria-owns="results"
               aria-expanded="@OpenSuggestion"
               aria-activedescendant="@(_suggestionItems.Any(s => s.Selected) ? "selectedOption" : "")"
               @onkeydown="@HandleKeyDown"
               @bind-value="Query"
               @bind-value:event="oninput"/>
        <div class="sb-flyout">
            <ul id="results" class="suggestion-list" role="listbox" tabindex="0">
                @for (var i = 0; i < _suggestionItems.Count; i++)
                {
                    var item = _suggestionItems[i];
                    var isLast = i == _suggestionItems.Count - 1;
                    <li tabindex="-1"
                        class="suggestion-item"
                        id="@(item.Selected ? "selectedOption" : null)"
                        role="option"
                        aria-selected="@(item.Selected.ToString().ToLower())"
                        @onclick="@(() => InternalSuggestionSelected(item))">
                            @if (SuggestionTemplate != null)
                            {
                                @SuggestionTemplate(item);
                            } 
                            else 
                            {
                                <p class="sb-suggestion">@item.Value</p>
                            }
                    </li>
                }
            </ul>
        </div>
        <span id="desc" style="display: none;">@Description</span>
    </div>
    <div class="sb-progress">
        <Spinner Active="LoadingSuggestion" Size="SpinnerSize.EXTRA_SMALL" />
    </div>
    <div aria-live="polite" role="status" aria-label="@A11yLabel"></div>
</div>